dsn="your postgres dsn"
rabbitmq_url="rabbitmq url"
redis_url="redis url"
tg_webhook_url="tg webhook url"
lolz_webhook_url="lolz webhook url"
bot_token="bot token"
admin_ids="list id admins (int)""
support_username="tg username support"
remnawave_api_key="remnawave api key"
remnawave_url_panel="remnawave panel url"
secret_token="secret token for webhook updates"
crypto_bot_token="crypto bot token"
lolzteam_token="lolzteam token"
merchant_id="lolzteam merchant id"
fernet_key="fernet key str"
guide_vpn_connect="url to telegraph vpn guide"
